{% extends "layout.html" %}
{% block content %}
{% include 'admin/adminnavbar.html' %}
<div class="container" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                {% include '_messages.html' %}
                <div class="text-center  p-2 h3 mb-3">{% if updatecat %}Update {% else %}Add a {% endif %}category</div>
                <form method=post>
                <div>
                 <form action="" method="post">
                     {% if updatecat %}
                     <input type="text" name="category" class="form-control" value="{{updatecat.name}}">
                     <input type="submit" value="Update category" class="btn btn-info mt-3">
                     {% else %}
                     <input type="text" name="category" class="form-control">
                     <input type="submit" value="Add a category" class="btn btn-info mt-3">
                     {% endif %}
                 </form>
                </div>
                </form>
            </div>
      <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}
