{% extends "layout.html" %}
{% block content %}
{% include 'navbar.html' %}

<div class="container" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text-center p-2 h4">Bildiriş goş</div>
                {% from "_formhelpers.html" import render_field %}
                <form method="post" enctype="multipart/form-data">
                <div>
                    
                    <label for="category">Kategoriýalar</label>
                    <select name="category" id="category" class="form-control" required>
                    {% if getproduct %}
                      <option value="{{getproduct.category_id}}" style="display: none;">{{getproduct.category.name}}</option>
                      {% for category in categories %}
                      <option value="{{category.id}}">{{category.name}}</option>
                      {% endfor %}
                     {% else %}
                     <option value=""> Kategoriýa saýla</option>
                     {% for category in categories %}
                     <option value="{{category.id}}">{{category.name}}</option>
                     {% endfor %}
                     {% endif %}
                    </select>

                    <label for="category">Subcategory</label>
                    <select name="subcategory" id="subcategory" class="form-control" required>
                     <option value=""> Subcategory saýla</option>
                     {% for subcategory in subcategories %}
                     <option value="{{subcategory.id}}">{{subcategory.names}}</option>
                     {% endfor %}
                    </select>

                    {{ render_field(form.name, class="form-control") }}
                    {{ render_field(form.price, class="form-control") }}
                    {{ render_field(form.description, class="form-control", rows="5") }}
                    
                    <input type="file" name="files[]" multiple="true" autocomplete="off" required>
                    
                </div>
                <br>
                <p> <input type="submit" value="Surat goş" class="btn btn-sm btn-outline-success">
                </form>
            </div>
      <div class="col-md-1"></div>
    </div>
</div>
{% endblock content %}
