{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div style="background-color: #e6e6e6; font-family: Georgia, 'Times New Roman', Times, serif;">
  <br>
  <div style="width: 97%; margin-left: 19px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner bg-dark">
        <div class="carousel-item active">
          <img class="d-block w-20" src="{{ url_for('static', filename='images/advertisement7up.jpg') }}" style="width: 100%; height: 450px;" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-20" src="{{ url_for('static', filename='images/colaadvertisement.jpg') }}" style="width: 100%; height: 450px" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-20" src="{{ url_for('static', filename='images/liptonadvertisement.jpg') }}" style="width: 100%; height: 450px" alt="Fourth slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-20" src="{{ url_for('static', filename='images/spriteadvertisement.jpg') }}" style="width: 100%; height: 450px" alt="Fourth slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-20" src="{{ url_for('static', filename='images/advertisement2022.webp') }}" style="width: 100%; height: 450px" alt="Fifth slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    

<!-- =============== BREND =============== -->
    <h1 style="color: black; font-size: 35px;">{{ _('Ähli Önümler') }} </h1>
    <div class="row">
        {% if brand %}
         {% for b in brand.items %}
         {% if b.approved == true %}
        <div class="col-md-3 mt-1">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + b.image_1)}}" class="card-img-top" alt="{{b.name}}" height="250px">
                <div class="card-body">
                    {% if b.discount > 0 %}
                    <h5 style="text-shadow: 1px 2px 2px #000; color: white; position: absolute; top: 3%; left: 70%; font-weight: 600; border: 2px solid #10F417; background:#10F417; border-radius:50%; font-size:14px; font-family:italic;">-{{b.discount}}%</h5>
                    {% endif %}
                  <h5 class="text-center">{{b.name}}</h5>
                  <p class="text-center" style="color:#10F417;"><b>{{_('Bahasy:')}} {{b.price}} manat</b></p>
                  <p class="text-center">{{_('Magazin:')}} {{ b.author.name }}</p>
                  <h5 class="text-center">{{_('Telefon:')}} {{ b.phone }}</h5>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page',id=b.id)}}" class="float-left btn btn-sm btn-success btn-block" style="font-size:14px;">{{ _('Giňişleýin') }}</a>
                    
                </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        {% if brand.has_prev %}
          <a href="{{url_for('get_brand',id=get_brand.id, page=brand.prev_num)}}"class="btn btn-sm btn-outline-success">{{ _('Öňki') }}</a>
        {% endif %}
        {% if brand.total > 30 %}
       {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
       {% if page_num %}
         {% if brand.page == page_num %}
         <a href="{{url_for('get_brand',id=get_brand.id, page=page_num)}}" class="btn btn-sm btn-success">{{page_num}}</a>
         {% else %}
         <a href="{{url_for('get_brand',id=get_brand.id, page=page_num)}}" class="btn btn-sm btn-outline-success">{{page_num}}</a>
          {% endif %}
        {% else %}
        ...
        {% endif %}
       {% endfor %}
       {% endif %}
       {% if brand.has_next %}
       <a href="{{url_for('get_brand',id=get_brand.id, page=brand.next_num)}}"class="btn btn-sm btn-outline-success">{{ _('Indiki') }}</a>
     {% endif %}
      </div>
    </div>
    <!--================= END OF BRENDS ================-->


    <!-- ================ CATEGORIES =================== -->
    <div class="row">
        {% elif get_cat_prod %}
        {% for get_cat in get_cat_prod.items %}
        {% if get_cat.approved == true %}
        <div class="col-md-3 mt-1">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + get_cat.image_1)}}" class="card-img-top" alt="{{get_cat.name}}" height="250">
                <div class="card-body">
                    {% if get_cat.discount > 0 %}
                    <h5 style="text-shadow: 1px 2px 2px #000; color: white; position: absolute; top: 3%; left: 70%; font-weight: 600; border: 2px solid #10F417; background:#10F417; border-radius: 50%; font-size:14px; font-family:italic;">-{{get_cat.discount}}%</h5>
                    {% endif %}
                  <h5 class="text-center">{{get_cat.name}}</h5>
                  <p class="text-center" style="color:#10F417;"><b>{{_('Bahasy:')}} {{get_cat.price}} manat</b></p>
                  <p class="text-center">{{_('Magazin:')}} {{ get_cat.author.name }}</p>
                  <h5 class="text-center">{{_('Telefon:')}} {{ get_cat.phone }}</h5>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page', id=get_cat.id)}}" class="float-left btn btn-sm btn-success btn-block" style="font-size:14px;">{{ _('Giňişleýin') }}</a>
                    
                </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="row mt-4">
        <div class="col text-center">
          {% if get_cat_prod.has_prev %}
            <a href="{{url_for('get_category',id=get_cat.id, page=get_cat_prod.prev_num)}}"class="btn btn-sm btn-outline-success">{{ _('Öňki') }}</a>
          {% endif %}
          {% if get_cat_prod.total > 8 %}
         {% for page_num in get_cat_prod.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
         {% if page_num %}
           {% if get_cat_prod.page == page_num %}
           <a href="{{url_for('get_category',id=get_cat.id, page=page_num)}}" class="btn btn-sm btn-success">{{page_num}}</a>
           {% else %}
           <a href="{{url_for('get_category',id=get_cat.id, page=page_num)}}" class="btn btn-sm btn-outline-success">{{page_num}}</a>
            {% endif %}
          {% else %}
          ...
          {% endif %}
         {% endfor %}
         {% endif %}
         {% if get_cat_prod.has_next %}
         <a href="{{url_for('home', page=get_cat_prod.next_num)}}"class="btn btn-sm btn-outline-success">{{ _('Indiki') }}</a>
       {% endif %}
        </div>
      </div>
        <!--========= END OF CATEGORIES ===============-->


        <!-- =========== PRODUCTS =============== -->
        <div class="row">
         {% else %}
        {% for product in products.items %}
        {% if product.approved == true %}
        <div class="col-md-3 mt-1">
          <div class="card">
              <img src="{{url_for('static', filename='images/' + product.image_1)}}" class="card-img-top" alt="{{product.name}}" height="250">
              <div class="card-body">
                  {% if product.discount > 0 %}
                  <h5 style="text-shadow: 1px 2px 2px #000; color: white; position: absolute; top: 3%; left: 70%; font-weight: 600; border: 2px solid #10F417; background:#10F417; border-radius: 50%; font-size:14px; font-family:italic;">-{{product.discount}}%</h5>
                  {% endif %}
                <h5 class="text-center">{{product.name}}</h5>
                <p class="text-center" style="color:#10F417;"><b>{{_('Bahasy:')}} {{product.price}} manat</b></p>
                <p class="text-center">{{_('Magazin:')}} {{ product.author.name }}</p>
                <p class="text-center">{{_('Telefon:')}} {{ product.phone }}</p>
              </div>
              <div class="card-footer">
                  <a href="{{url_for('single_page',id=product.id)}}" class="float-left btn btn-sm btn-success btn-block" style="font-size:14px;">{{ _('Giňişleýin') }}</a>
              </div>
          </div>
        </div>    
        {% else %}
        
        {% endif %}
        {% endfor %}
      </div>


      <div class="row mt-4">
        <div class="col text-center">
          {% if products.has_prev %}
            <a href="{{url_for('home', page=products.prev_num)}}"class="btn btn-sm btn-outline-success">{{ _('Öňki') }}</a>
          {% endif %}
          {% if products.total> 30 %}
         {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
         {% if page_num %}
           {% if products.page == page_num %}
           <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-success">{{page_num}}</a>
           {% else %}
           <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-outline-success">{{page_num}}</a>
            {% endif %}
          {% else %}
          ...
          {% endif %}
         {% endfor %}
         {% endif %}
         {% if products.has_next %}
         <a href="{{url_for('home', page=products.next_num)}}"class="btn btn-sm btn-outline-success">{{ _('Indiki') }}</a>
       {% endif %}
        </div>
      </div>

        {% endif %}
    </div>
</div>


{% endblock content %}
