{% extends 'layout.html' %}
{% block content %}

{% include 'navbar.html' %}
<!---============== END OF NAV BAR ==================-->

<div class="container mt-3" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="row">
        <div class="col-md-6" id="b_image">
            
            <img src="{{url_for('static', filename='productsimage/' + product.addproducts.name)}}" alt="{{product.name}}" style="width:50vh; height: 55vh;object-fit:cover;">
            
        </div>
        <div class="col-md-6">
            
            <h4>{{ _('Önümiň ady:') }} {{product.name}} </h4>
            
            <hr>
            <b>{{ _('Önümiň bahasy:') }}</b>
            <p>{{product.price}} manat</p>
            <hr>
            <b>{{ _("Telefon Nomeri:") }}</b>
            <p>{{ product.author.contact }}</p>
            <b>{{ _('Önümiň maglumaty:') }}</b>
            <p>{{product.desc}}</p>
            <hr>
            <b>{{ _('Goýulan senesi:') }}</b>
            <p>{{moment(product.pub_date).fromNow()}}</p>
            
        </div>
    </div>

<div class="row">
    
</div>
</div>

{% endblock content %}
