{% extends "layout.html" %}
{% block content %}
{% include 'navbar.html' %}

<div class="container" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text-center p-2 h4">Bildiriş goş</div>
                <form method="post" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="files[]" multiple="true" autocomplete="off" required>                    
                </div>
                <br>
                <p><input type="submit" value="Upload" class="btn btn-sm btn-outline-success">
                </form>
            </div>
            
      <div class="col-md-1"></div>
    </div>
{% endblock content %}
