<style>
  .navbarimages {
    filter: opacity(0.4) drop-shadow(0 0 0 green);
  }

  .dropdownMenu {
    animation-name: test;
    animation-duration: .3s;
  }

@keyframes test {
  from{opacity: 0}
  to{opacity: 1}
}

.dropdown {
  border-bottom:2px solid transparent;
}

.dropdown:hover .dropdownMenu{
  display: block;
}

.dropdown:hover {
  border-bottom:2px solid blue;
}

.flaskh1 {
    color: white;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

.catbrand {
  display: flex;
  justify-content: space-between;
  width: 15%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


</style>

  <div class="d-flex" style="background-color: green;">
    <img src="{{ url_for('static', filename='images/shopify.png') }}" style="height:60px; width:60px"><a href="{{ url_for('home') }}" style="text-decoration:none;"><h1 class="flaskh1">Derman TM</h1></a>
  </div>
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto catbrand">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" style="font-size:16px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="navbarimages" src="{{ url_for('static', filename='images/category.png') }}" style="width: 15px; height: 15px;" alt="">
               {{ _('Kategoriýalar') }}
              </a>
              <div class="dropdown-menu dropdownMenu" aria-labelledby="navbarDropdown">
                {% for category in categories %}
                <a class="dropdown-item" style="font-size: .9rem;" href="{{url_for('get_category', id=category.id)}}">{{category.name}}</a>
                {% endfor %}
              </div>
            </li>
            <div class="nav-item dropdown" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14px;">
               <img alt="" src="{{ url_for('static', filename='images/world.png') }}" width="21px" height="21px">
              </a>
              <div class="dropdown-menu dropdownMenu" aria-labelledby="navbarDropdown" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                <a class="dropdown-item" href="{{ url_for('set_language', language='ru') }}" style="color:black; font-size:14px;">
                  <img src="{{ url_for('static', filename='images/ruflag.png') }}" alt="" width="25px" height="20px"> Rus dili
                </a>
                <a class="dropdown-item" href="{{ url_for('set_language', language='tk') }}" style="color:black; font-size:14px;">
                  <img src="{{ url_for('static', filename='images/tkmflag.png') }}" alt="" width="25px" height="20px"> Turkmen dili
                </a>
              </div>
            </div>
          </ul>
          
          <form class="form-inline my-2 my-lg-0" action="{{url_for('result')}}">
            <input class="form-control" style="width:450px; font-size:14px;font-family: Georgia, 'Times New Roman', Times, serif;" type="search" placeholder="{{ _('Haryt ady boýunça gözläň...') }}" aria-label="Search" name="q">
          
            {% if current_user.is_anonymous %}
            <a href="{{url_for('customer_register')}}" class="nav-link text-dark" style="font-size:16px;font-family: Georgia, 'Times New Roman', Times, serif;"><img src="{{ url_for('static', filename='images/add-friend.png') }}" class="navbarimages" style="width: 16px; height: 16px" alt=""> {{ _('Agza bol') }}</a>
            <a href="{{url_for('customerLogin')}}" class="nav-link text-dark" style="font-size:16px;font-family: Georgia, 'Times New Roman', Times, serif;"><img src="{{ url_for('static', filename='images/enter.png') }}" class="navbarimages" style="width: 15px; height: 15px" alt=""> {{ _('Içeri gir') }}</a>
            {% endif %}
            {% if current_user.is_authenticated %}
              <div class="nav-item dropdown" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 16px;">
                 <span class="navbar-toggler-icon"></span>
                 {{ _('Hasabym') }}
                </a>
                <div class="dropdown-menu dropdownMenu" aria-labelledby="navbarDropdown" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                  <a href="{{url_for('customer_logout')}}" class="nav-link text-dark" style="font-size: .9rem;"><img src="{{ url_for('static', filename='images/logout.png') }}" class="navbarimages" style="width: 15px; height: 15px" alt="">{{ _('Ulgamdan çyk') }}</a>
                  <a href="{{ url_for('aboutCustomer', name=current_user.name) }}" class="nav-link text-dark" style="font-size: .9rem;"><img src="{{ url_for('static', filename='images/aboutme.png') }}" class="navbarimages" style="width:15px; height:15px" alt=""> {{ _('Maglumatym') }}</a>
                  <a href="{{ url_for('addproduct') }}" class="nav-link text-dark" style="font-size: .9rem;"><img src="{{ url_for('static', filename='images/plus.png') }}" class="navbarimages" style="width: 14px; height:14px;" alt=""> Bildiriş goş</a>
                  <a href="{{ url_for('myproducts', name=current_user.name) }}" class="nav-link text-dark" style="font-size: .9rem;"><img src="{{ url_for('static', filename='images/myproducts.png') }}" class="navbarimages" style="width: 14px; height:14px;" alt=""> Goşanlarym</a> 
                </div>
              </div>
            {% endif %}
          </form>
        
        </div>
      </nav>
    </div>
<!---============== END OF NAV BAR ==================-->
